
@model IEnumerable<Match.Models.User>


<div id="dash-nav">
<div class="left-bar"><a href="/dashboard" class="brand-logo">Do You Even Pull?</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="/profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="/lovers">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="/all">Messages</a></div>
<div class="hover-square"><a class="no-underline dropdown-button" data-activates='likeTypes' href="">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad">settings</i></a>
</div>
</div>

<ul id='dropdownAccount' class='dropdown-content'>
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
</ul>
<ul id='dropdownSettings' class='dropdown-content'>
  <li><a href="/logout">Log out</a></li>
</ul>

<div class="body-container">
    <div class="body-stuff">
        <div id="messageContainer" style="padding:20px;">
            <form action="/write_message/@ViewBag.FriendId" method="POST">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="textarea1" name="textContent" class="materialize-textarea" data-length="200"></textarea>
                    <label for="textarea1">Write something to @ViewBag.Friend.name:</label>
                    <button id="messageSent" onclick="Materialize.toast('Message sent', 8000)" style="margin-left:85%" class="btn waves-effect waves-light red" type="submit">Send<i class="material-icons right">send</i></button>
                </div>
            </form>
            <hr>
        </div>
        <div id="contentContainer" style="padding:20px;">
            @{
                if (@ViewBag.MsgsInConvo != null) {
                    foreach(var msg in @ViewBag.MsgsInConvo) {
                        if(msg.SenderId == @ViewBag.Curr) {
                            <div class="you">
                                <h5>@msg.Content</h5>
                                <h6>@msg.SentAt.ToString("t")</h6>
                            </div>
                        } else {
                            <div class="them">
                                <h5>@msg.Content</h5>
                                <h6>@msg.SentAt.ToString("t")</h6>
                            </div>
                        }
                    }    
                }
                
            }
        </div>
    </div>
</div>