<div id="dash-nav">
<div class="left-bar"><a href="dashboard" class="maroon brand-logo">Do You Even Pull?</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="/profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="/lovers">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="#">Messages</a></div>
<div class="hover-square"><a class="no-underline dropdown-button" data-activates='likeTypes' href="">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad maroon">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad maroon">settings</i></a>
</div>
</div>
<ul id='dropdownSettings' class='dropdown-content'>
  <li><a href="logout">Log out</a></li>
</ul>
<ul id='likeTypes' class='dropdown-content'>
  <li><a href="/likes">My Likes</a></li>
  <li><a href="/likers">My Likers</a></li>
</ul>

<div class="body-container">
  <div class="body-stuff">

    <div class="row">
      <div class="col-md-4"><div class="frame"><img id="profP" src="@Url.Content(ViewBag.myUser.profile_picture)"/></div>
        <button class="waves-effect waves-teal btn-flat" id="update-btn">Update Photo?</button>
      </div>
      <div class="col-md-8"><h1>@ViewBag.myUser.name</h1>
        <h5>@ViewBag.city, @ViewBag.state</h5>
        <h5>@ViewBag.myUser.age years old</h5>
      </div>
    </div>
  
  
  <form id="shh" action="/testing" method="post" enctype="multipart/form-data">
    <input type="file" name="pic" value="Update Photo" accept="image/*">
    <input type="submit" value="Select">
  </form>





</div>

</div>


        