<div id="dash-nav">
<div class="left-bar"><a href="dashboard" class="maroon brand-logo">Do You Even Pull?</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="/profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="/lovers">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="#">Messages</a></div>
<div class="hover-square"><a class="no-underline dropdown-button" data-activates='likeTypes' href="">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad maroon">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad maroon">settings</i></a>
</div>
</div>
<ul id='dropdownSettings' class='dropdown-content'>
  <li><a href="logout">Log out</a></li>
</ul>
<ul id='likeTypes' class='dropdown-content'>
  <li><a href="/likes">My Likes</a></li>
  <li><a href="/likers">My Likers</a></li>
</ul>

<div class="body-container">
  <div class="body-stuff2">
      @{
          if(@ViewBag.myLikers.Count == 0){
              <h4>Uh oh! It would appear that no one likes you!</h4>
          }
      }
    @{
        foreach(var like in @ViewBag.myLikers){
            bool liking = false;
            <div class="lover-cube">
                <img id="profP" src="@Url.Content(like.PersonLiking.profile_picture)"/>
                <h5><a href="/lovers/@like.PersonLikingId">@like.PersonLiking.name</a></h5>
                <h6>@like.PersonLiking.age years old</h6>
                @foreach(var likeCheck in @ViewBag.AllMyLikes) {
                    if (likeCheck.PersonLikedId == @like.PersonLikingId){
                        liking = true;
                    }
                }
                <div class="hover-test">
                @if(@liking == true) {
                    <a href="/unlike/@like.PersonLikingId" class="link-text"><i class="material-icons sad maroon">favorite</i></a>
                }
                @if(@liking == false) {
                    <a href="/like/@like.PersonLikingId" class="link-text"><i class="material-icons sad maroon">favorite_border</i></a>
                }
                <a class="link-text" href="/conversation/@like.PersonLikingId"><i class="material-icons sad maroon">mail</i></a>
                </div>
            </div>
        }
    }
  </div>
</div>