<div id="dash-nav">
<div class="left-bar"><a href="dashboard" class="maroon brand-logo">Do You Even Pull?</a></div>
<div class="middle-bar">
<div class="center-help">
<div class="hover-square"><a class="no-underline" href="/profile">Profile</a></div>
<div class="hover-square"><a class="no-underline" href="/lovers">Matches</a></div>
<div class="hover-square"><a class="no-underline" href="#">Messages</a></div>
<div class="hover-square"><a class="no-underline dropdown-button" data-activates='likeTypes' href="">Likes</a></div>
</div>
</div>
<div class="right-bar">
<a class='dropdown-button' href='' data-activates='dropdownAccount'><i class="material-icons sad maroon">sentiment_dissatisfied</i></a>
<a class='dropdown-button' href='#' data-activates='dropdownSettings'><i class="material-icons sad maroon">settings</i></a>
</div>
</div>
<ul id='dropdownSettings' class='dropdown-content'>
  <li><a href="logout">Log out</a></li>
</ul>
<ul id='likeTypes' class='dropdown-content'>
  <li><a href="/likes">My Likes</a></li>
  <li><a href="/likers">My Likers</a></li>
</ul>

<div class="body-container">
  <div class="body-stuff2">
      @{
          if (@ViewBag.myLovers.Count == 0) {
              <h4>We are so sorry! It would appear you will die alone...Maybe try <a href="http://www.uglyschmucks.com/" target="_blank">here</a>?</h4>
          }
      }

    @{
        foreach(var match in @ViewBag.myLovers){
            string percentStr = @match.percentage + "% Match";
            <div class="lover-cube">
                <img id="profP" src="@Url.Content(match.lover.profile_picture)"/>
                <h5><a href="/lovers/@match.lover.UserId">@match.lover.name</a></h5>
                <h6>@match.lover.age years old | @percentStr</h6>
                <div class="hover-test">
                @if(match.liking == false) {
                    <a href="/like/@match.lover.UserId" class="link-text"><i class="material-icons sad maroon">favorite_border</i></a>
                }
                @if(match.liking == true) {
                    <a href="/unlike/@match.lover.UserId" class="link-text"><i class="material-icons sad maroon">favorite</i></a>
                }
                <a class="link-text" href="/conversation/@match.lover.UserId"><i class="material-icons sad">mail</i></a></div>
            </div>
        }
    }
  </div>
</div>
